iframe {
  display: none;
}

html {
  font-family: Arial, sans-serif;
}

body {
  padding: 12px;
}

button {
  cursor: pointer;
}

.with-error {
  border: 3px solid red;
}

.error {
  color: red;
}

.deleteButton {
  border-radius: 50%;
}
